
#root {
	background-color: bisque;
    border: purple solid 25px;
    border-radius: 10px;
}

.navbar {
	/*background-color: darkblue;*/
	/*color: #fff;*/
	display: flex;
}

.header {
	margin:auto;
	width: 75%;
	height: 8rem;
}

.page-wrapper {
	width: 75%;
	margin: 0 auto;
	display: flex;
}

.list-container {
	/*background-color: lightblue;*/
	flex-direction: row;
  padding-right: 5rem;
  /*-ms-flex: 1 1 24rem;*/
  /*flex: 1 1 2rem;*/
  margin-bottom: 1rem;
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
  min-width: 75%;
}

.list-item {
	background-color: darksalmon;
	width: auto;
	height: auto;
	float: left;
	margin: 0 1rem 2rem;
	padding: 3rem;

}

.sidebar {
  /*background-color: darksalmon;*/
  flex-basis: 150rem;
  box-sizing: content-box;
  display: -ms-flexbox;
  display: flex;
  /*-ms-flex-direction: column;*/
  flex-direction: column;
  margin-bottom: 1rem;
  /*-ms-flex-align: center;*/
  align-items: center;
  min-width: 25%;
}

.sidebar-item {
	margin-bottom: 1rem;
}

.sidebar-item:hover {
	cursor: pointer;
}

.sidebar-items:active {
	color: black;
}

.selector-container {
	width: 70%;
	min-height: 10rem;
	border: #aaa solid 1px;
}

.selector-container {
	
}


