
body {
	background-color: #eee;
}

.list-container {
	width: 80%;
	margin: auto;
}

.list-item {
	background-color: #fff;
	width: auto;
	height: auto;
	float: left;
	margin: 10px;
	padding: 15px;
	border: #aaa dotted 1px;
}